@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Press+Start+2P&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #06080c);
    overflow-x: hidden;
}

.input{
    outline:0;
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track { /*barra atras do scroll*/
    background: #141414;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb { /*o proprio scroll*/
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #141414;
}

/*-------------Barra de Navegação--------------*/

header{
    position:absolute;
    z-index: 1000;
}

#logo{
    width:40px;
}

.navbar-brand .nome_logo{
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #2dbdff, #a64dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.navbar-nav a {
    color: #b5ff00;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-nav a:focus {
    color: #b5ff00;
}

.navbar-nav a:hover{
    color:#53b5fd;
}

.navbar{
    background-color: #01001f2d;
    backdrop-filter:blur(3px);
    font-size: 10px;
    z-index:1000;
}
.botao {
    margin-top: 0.5rem;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

    .botao .btn-receive { /*texto do btn*/
        text-transform: uppercase;
        font-size: 16px;
        position: relative;
        z-index: 0;
        background: #b5ff00;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        transition: 0.3s;
    }

    .botao:hover::after, .botao .btn-receive:hover {
        background: #53b5fd;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .botao:before {
        content: '';
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
    }

.botao:after {
   content: '';
    background: transparent;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
}

.breadcrumb{
    margin-top: 5rem;
}

.breadcrumb-item.active, .breadcrumb ol {
    color: #b5ff00;
}

.fa-bars{
    color: #b5ff00;
    font-size: 20px;
}

.navbar-toggler:focus{
    border:0;
    outline:0;
}

/*---------------Página Inicial-----------------*/
#tabSearch{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content:center;
}

.search-bar {
    margin-top: 6rem;
    box-shadow: 0 0 5px #a64dff;
    box-shadow: 0 0 15px #A64DFF;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    height: 2rem;
    width: 30vw;
    background: rgba(196, 196, 196, 0.16);
    border: 1px solid #A64DFF;
    color: #13D6E2;
    font-size: 14px;
    padding-left: 0.5rem;
    font-family: 'IBM Plex Mono', monospace;
    animation: barrinha 1.5s ease-in-out forwards;
}

.search-bar:focus{
    outline:0;
}

@keyframes barrinha {
    from {
        transform: scaleX(0.5) translateX(8rem);
    }

    to {
        transform: scaleX(1.5);
        width: 40vw;
    }
}

.pesquisa {
    text-align: center;
    flex-direction: row;
}

.btn-src {
    width: 8rem;
    height: 2rem;
    color: #A64DFF;
    background: rgba(196, 196, 196, 0.16);
    border: 1px solid #A64DFF;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 15px #A64DFF;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    font-size: 15px;
    animation: proladinho 1.5s ease-in-out forwards;
}

@keyframes proladinho {
    from {
        transform: translateX(0rem)
    }

    to {
        transform: translateX(10vw)
    }
}

.parallax-scrolling {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax-scrolling::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #01081D, transparent);
    z-index: 1000;
}

    .parallax-scrolling img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

        .parallax-scrolling img#moon {
            mix-blend-mode: screen;
        }

        .parallax-scrolling img#mountains_front {
            z-index: 10;
        }
        .parallax-scrolling img#stars {
            height: 100%;
        }

.name {
    color: #b5ff00;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 40px;
    border: 1px solid #b5ff00;
    background: rgba(196, 196, 196, 0.1);
    color: #b5ff00;
    font-size: 1.5em;
    font-weight: 600;
    z-index: 9;
    transform: translateY(150px);
}

    #btn:hover {
        background: #B5FF00;
        color: #030303;
    }

/*==============================   News   =============================*/
.sec {
    min-height: 100vh;
    position: relative;
    padding: 100px;
}

.title-News, .title-aboutUs {
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    color: #13D6E2;
    text-shadow: 0px 4px 10px #13D6E2;
}

.news.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

    .news.section li {
        margin-right: 2rem; /*espaçamento entre os cards*/
        margin-bottom: 0.5rem;
    }

    .news.section::-webkit-scrollbar-track { /*barra atras do scroll*/
        background: #00000000;
        border-radius: 20px;
        width: 3px;
    }


    .news.section::-webkit-scrollbar-thumb { /*o proprio scroll*/
        border: 2px solid #A64DFF;
        background: #c4c4c442;
        box-shadow: 0 0 5px #A64DFF;
        border-radius: 20px;
        border: 15px transparent #00000000;
        width: 3px;
        height: 3px;
    }

.news {
    overflow-x: hidden;
}

.posts {
    background: #c4c4c442;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 10px #A64DFF;
    backdrop-filter: blur(50px);
    color: #B5FF00;
    border: 2px solid #A64DFF;
    height: 18rem;
    text-align: center;
}
.posts:hover{
    width: 17.5rem;
    height:17.5rem;
}
.posts a{
    color: #b5ff00;
}

    .posts a:hover {
        color: #2dbdff;
    }
.card-img-top {
    height: 8rem;
}

/*==============================   About Us   =============================*/
#aboutUs {
    height: 60vh;
}

.container-aboutUS {
    margin-top: 14rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-aboutUs {
    height: 400px;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: justify;
    font-family: 'IBM Plex Mono', monospace;
    width: 40vw;
    height: 100%;
    color: #B5FF00;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #A64DFF;
    background: #c4c4c442;
    box-shadow: 0 0 5px #A64DFF;
    backdrop-filter: blur(50px);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.aboutUs {
    text-align: center;
    display: flex;
    flex-direction: column; /*define um embaixo do outro*/
    justify-content: center;
    align-items: center;
    position: relative;
}

    .aboutUs::before {
        content: '';
        position: absolute; /*sua posição vai ficar absoluta a sua div pai*/
        height: 100px;
        width: 100px;
        display: block;
        border: 1px solid #A64DFF;
        border-radius: 5px;
        box-shadow: 0 0 10px #A64DFF;
        box-shadow: 0 0 25px #A64DFF;
        box-shadow: 0 0 30px #A64DFF;
        opacity: 0;
        transition: 0.3s;
    }

    .aboutUs h2 {
        transition: 0.3s;
        text-align: center;
        margin-bottom: 2rem;
    }

.glass-aboutUs:hover, aboutUs h2 {
    filter: unset;
    opacity: 1;
    visibility: visible;
    font-size: 14px;
    box-shadow: 0 0 25px #A64DFF;
    box-shadow: 0 0 30px #A64DFF;
}

    .glass-aboutUs:hover > .aboutUs::before { /*div filha*/
        height: 60vh;
        width: 45vw;
        opacity: 1;
    }

/*---------------------- Fale Conosco ---------------------*/

.container-faleConosco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: hidden;
}

.container-img-faleConosco img{
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
}
    .container-faleConosco h1 {
        margin-top: 3rem;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 3px;
        font-family: 'Press Start 2P', cursive;
        color: #13D6E2;
        text-shadow: 0px 4px 10px #13D6E2;
    }

.iconspeak {
    font-size: 3rem;
    color: white;
    transform: translateY(0);
    animation: chatTranslate 2s ease-in-out infinite;
}

.titulin {
    color: white;
    font-size: 2rem;
    font-family: 'IBM Plex Mono', monospace;
}

.p {
    margin-top: 6.5rem;
}

.cards {
    z-index:1000;
    display: flex;
    margin-top: 9rem;
    justify-content: space-between;
    align-items: center;
}

.cartao{
    margin-left: 3rem;
}

.cartao a{
    color:#53b5fd;
    transition: 0.3s;
}

    .cartao a:hover {
        color:#b5ff00;
    }

        .cards p {
        color: white;
        font-size:1.5rem;
    }

#fa-envelope {
    font-size: 10rem;
}

.iconspeak, .chatbox {
    margin-bottom: 4rem;
    margin-left: 3rem;
}

.card-chat {
    justify-content: center;
    align-items: center;
}

.card-email, .card-tel {
    border-right: 1px solid #fff;
}

.chatbot {
    height: 2rem;
    width: 4rem;
    border-radius: 20px;
    border: 4px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transform: translateY(0);
    animation: chatTranslate 2s ease-in-out infinite;
    margin-left: 3rem;
}

    .chatbot::before { /*triângulo*/
        content: '';
        width: 0;
        height: 0;
        position: absolute; /*absoluto o chatbot*/
        bottom: -1rem; /*ficar mais pra baixo que o bottom, desce, transborda p baixo*/
        left: 2rem;
        border: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        z-index: 1;
    }

.chatbot__loading {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1);
}

    .chatbot__loading:nth-child(1) {
        animation: pulse 1.5s ease-in-out infinite;
    }

    .chatbot__loading:nth-child(2) {
        animation: pulse 1.5s ease-in-out infinite;
        animation-delay: 0.2s;
    }

    .chatbot__loading:nth-child(3) {
        animation: pulse 1.5s ease-in-out infinite;
        animation-delay: 0.4s;
    }

@keyframes pulse {
    0% {
        transform: scale(1); /*tamanho*/
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes chatTranslate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

/*---------------------- Rodapé ---------------------*/
/*footer {
    color: #53b5fd;
    position: absolute; /* posição absoluta
    bottom: 0;
    width: 100%; 

}

.logo{
    margin-left: -6rem;
}
.rodape-nav {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.rodape-nav a{
    margin-right: 1.5rem;
    transition: 0.3s;
}

.rodape-nav a:hover{
    transform:translateY(-3px);
    color: #b5ff00;
}
    */
.footer {
    z-index: 1;
    --footer-background: #a64dff;
    display: grid;
    position: relative;
    grid-area: footer;
    height:2rem;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.content {
    display:flex;
    justify-content: center;
    align-items:center;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}

    .content a, .content p {
        color: #F5F7FA;
        text-decoration: none;
    }

    .content b {
        color: white;
    }

    .content p {
        text-align: center;
        font-size: .75rem;
    }

.redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
    margin-bottom: 1.5rem;
}

.redes-sociais i{
    color: #b5ff00;
    margin-right: 1rem;
}
div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menus-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus-footer a{
    margin-right: 2rem;
    margin-bottom:6rem;
    margin-top:3rem;
    transition: 0.3s;
}.menus-footer a:hover{
    transform: translateY(-0.5rem);
}

.image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

/*==============================   Login Page   =============================*/
.btn:focus{
    border-style:none;
    border:0;
}

.form-group:focus {
    border: none;
    text-decoration: none;
}

i {
    cursor: pointer;
}

.sucesso{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:none;
}

.login-sucesso i{
    color: #0dc706;
    font-size: 3rem;
    margin-bottom: 2rem;margin-top: 2rem;
}

.login-sucesso h3 {
    font-family: 'Press Start 2P', cursive;
    color: #b5ff00;
    margin-bottom: 1rem;
}
.login-sucesso {
    margin-left: -30%;
    color: #fff;
    margin-top: 10rem;
    height: 15rem;
    width: 40%;
    border-radius: 20px;
    border: 4px solid #b5ff00;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: chatTranslate 2s ease-in-out infinite;
}

    .login-sucesso::before { /*triângulo*/
        content: '';
        width: 0;
        height: 0;
        position: absolute; /*absoluto o chatbot*/
        bottom: -1.4rem; /*ficar mais pra baixo que o bottom, desce, transborda p baixo*/
        left: 2rem;
        border: 2px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 15px solid #b5ff00;
        z-index: 1;
    }

/*==============================   Register Page   =============================*/

#jupiter{
    width:50px;
    transform: translateX(50rem) translateY(-10rem);
}
#alien {
    width: 100px;
    transform: translateY(28vw) translateX(71rem);
}
#planeta-terra {
    width: 80px;
    transform: translateX(30rem)translateY(-3rem);
}
#planeta {
    width: 200px;
    transform: translateX(-10rem) translateY(20rem);
}

#star1 {
    height: 10px;
    margin-top: 15rem;
    transform: translateX(-10rem) translateY(20rem);
    animation: pulsestar1 1.5s ease-in-out infinite;
    animation-delay: 2s;
}
#star2 {
    height: 15px;
    transform: translateX(8rem) translateY(-10.5rem);
    animation: pulsestar2 1.5s ease-in-out infinite;
    animation-delay: 0.8s;
}
#star3 {
    height: 20px;
    transform: translateX(45rem) translateY(8.5rem);
    animation: pulsestar3 1.5s ease-in-out infinite;
    animation-delay: 0.4s;
}
#star4 {
    height: 18px;
    transform: translateX(-35rem);
    animation: pulsestar4 1.5s ease-in-out infinite;
}
#star5 {
    height: 11px;
    transform: translateX(60rem) translateY(20rem);
    animation: pulsestar5 1.5s ease-in-out infinite;
}

@keyframes pulsestar1 {
    0% {
        transform: translateX(-10rem) translateY(20rem) scale(1); /*tamanho*/
    }

    50% {
        transform: translateX(-10rem) translateY(20rem) scale(1.5);
    }

    100% {
        transform: translateX(-10rem) translateY(20rem) scale(1);
    }
}
@keyframes pulsestar2 {
    0% {
        transform: translateX(8rem) translateY(-10.5rem) scale(1); /*tamanho*/
    }

    50% {
        transform: translateX(8rem) translateY(-10.5rem) scale(1.5);
    }

    100% {
        transform: translateX(8rem) translateY(-10.5rem) scale(1);
    }
}
@keyframes pulsestar3 {
    0% {
        transform: translateX(45rem) translateY(8.5rem) scale(1); /*tamanho*/
    }

    50% {
        transform: translateX(45rem) translateY(8.5rem) scale(1.5);
    }

    100% {
        transform: translateX(45rem) translateY(8.5rem) scale(1);
    }
}
@keyframes pulsestar4 {
    0% {
        transform: translateX(-35rem) scale(1); /*tamanho*/
    }

    50% {
        transform: translateX(-35rem) scale(1.5);
    }

    100% {
        transform: translateX(-35rem) scale(1);
    }
}
@keyframes pulsestar5 {
    0% {
        transform: translateX(60rem) translateY(20rem) scale(1); /*tamanho*/
    }

    50% {
        transform: translateX(60rem) translateY(20rem) scale(1.5);
    }

    100% {
        transform: translateX(60rem) translateY(20rem) scale(1);
    }
}


.glass-cadastro.container {
    z-index:1000;
    font-family: 'IBM Plex Mono', monospace;
    width: 35vw;
    color: #B5FF00;
    border-radius: 5px;
    border: 2px solid #A64DFF;
    background: #c4c4c429;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 25px #A64DFF;
    box-shadow: 0 0 30px #A64DFF;
    letter-spacing: 2px;
    backdrop-filter: blur(1px);
    padding-top: 2rem;
    max-height: 100vh;
    margin-top: -9rem;
}

.btn-cadastro.btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #c4c4c400;
    color: #B5FF00;
    border: 1px solid #B5FF00;
    transition: 0.3s;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

    .btn-cadastro.btn:hover {
        box-shadow: 0 0 5px #B5FF00;
        box-shadow: 0 0 15px #B5FF00;
        box-shadow: 0 0 25px #B5FF00;
    }

input-neon {
    font-size: 5px;
    font-family: 'IBM Plex Mono', monospace;
}

.cadastro-title {
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.receive {
    color: #13D6E2;
    text-shadow: 0px 4px 10px #13D6E2;
    text-align: center;
}


/*================= Botão Flutuante =================*/
.menu { /*o bagulho todo*/
    filter: url("#shadowed-goo");
    z-index: 100;
    position: fixed;
    right: 1px;
    bottom: 40px;
    width: 5rem;
    height: 4rem;
    font-size: 10px;
    border: 2px #B5FF00;
}

.menu-open {
    background-color: #B5FF00;
    display: none;
    border-color: #B5FF00;
}

.menu-item, .menu-open-button {
    background-color: #B5FF00;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 30px; /*alinhamento dos icones dentro dos botões*/
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    margin-bottom: 3rem;
}

.hamburger { /*O simbolo inicial "3 risquinhos"*/
    width: 20px;
    height: 3px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 48%;
    margin-left: -8.7px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, -8px, 0); /*primeiro risquinho*/
}

.hamburger-2 {
    transform: translate3d(0, 0, 0); /*segundo risquinho*/
}

.hamburger-3 {
    transform: translate3d(0, 8px, 0); /*terceiro risquinho*/
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg); /*giro dos 3 risquinhos pro x (gira p/ direita*/
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:nth-child(3) {
    transition-duration: 180ms;
    border: 2px solid #B5FF00;
    background: #c4c4c41f;
}

    .menu-item:nth-child(3):hover {
        color: #B5FF00;
        border: 2px solid #B5FF00;
        box-sizing: border-box;
        box-shadow: 0 0 5px #b5ff00;
        box-shadow: 0 0 15px #b5ff00;
        text-shadow: 0 0 15px #b5ff00;
        backdrop-filter: blur(5px);
    }

.menu-item:nth-child(4) {
    transition-duration: 180ms;
    border: 2px solid #A64DFF;
    background: #c4c4c41f;
}

    .menu-item:nth-child(4):hover {
        color: #A64DFF;
        border: 2px solid #A64DFF;
        box-sizing: border-box;
        box-shadow: 0 0 5px #A64DFF;
        box-shadow: 0 0 15px #A64DFF;
        text-shadow: 0 0 15px #A64DFF;
        backdrop-filter: blur(5px);
    }

.menu-item:nth-child(5) {
    transition-duration: 180ms;
    border: 2px solid #2dbdff;
    background: #c4c4c41f;
}

    .menu-item:nth-child(5):hover {
        color: #2dbdff;
        border: 2px solid #2dbdff;
        box-sizing: border-box;
        box-shadow: 0 0 5px #2dbdff;
        box-shadow: 0 0 15px #2dbdff;
        text-shadow: 0 0 15px #2dbdff;
        backdrop-filter: blur(5px);
    }

.menu-item:nth-child(6) {
    transition-duration: 180ms;
    border: 2px solid #fff;
    background: #c4c4c41f;
}

    .menu-item:nth-child(6):hover {
        color: #fff;
        border: 2px solid #fff;
        box-sizing: border-box;
        box-shadow: 0 0 5px #fff;
        box-shadow: 0 0 15px #fff;
        text-shadow: 0 0 15px #fff;
        backdrop-filter: blur(5px);
    }

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

    .menu-open-button:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .menu-open:checked ~ .menu-item:nth-child(3) {
        transition-duration: 190ms;
        transform: translate3d(0, -60px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
        transition-duration: 290ms;
        transform: translate3d(0, -130px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
        transition-duration: 390ms;
        transform: translate3d(0, -200px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
        transition-duration: 490ms;
        transform: translate3d(0, -270px, 0);
    }

/* ------------------------------------ Media Queries -------------------------------------------*/
@media (max-width: 650px) {
    .glass-login.container{
        width: 80vw;
    }

    .glass-cadastro.container {
        width: 80vw;
    }

    .btn-src {
        font-size: 12px;
        width: 6rem;
        animation: none;
    }

    .search-bar {
        width: 75vw;
        align-items: center;
        animation: none;
    }

    .parallax-scrolling h2{
        font-size: 10vw;
    }
}

@media (max-width: 1024px) {
    .search-bar {
        width: 62vw;
    }

    .foguetao {
        width: 200px;
        height: 200px;
        margin-left: 1rem;
    }
}
