@{
    ViewData["Title"] = "Missão Astro";
}

<div id="tabSearch">
    <form class="pesquisa align-content-start align-items-start justify-content-start">
        <div>
            <input type="search" onkeyup="search()" id="search-bar" class="search-bar" aria-label="Pesquisar" />
            <button type="submit" class="btn-src">Pesquisar</button>
        </div>
    </form>
</div>

<section class="parallax-scrolling">
    <img src="~/css/img/stars.png" id="stars" />
    <img src="~/css/img/moon.png" id="moon" />
    <img src="~/css/img/mountains_behind.png" id="mountains_behind" />
    <h1 id="text" class="name">Missão<br />&nbspAstro</h1>
    <a id="btn" class="btn" href="#download" type="button">Baixar!</a>
    <img src="~/css/img/mountains_front.png" id="mountains_front" />
</section>

<div class="sec">
    <section id="news">
    <h2 class="title-News">Novidades</h2>
    <div class="postagens">
        <ul class="section news">
            <li>
                <div class="posts" style="width: 17rem;">
                    <img class="card-img-top" src="~/css/img/planets.jpg" alt="Imagem de capa do card">
                    <a href="#" class="card-link">
                        <h5 class="card-title">Novos Planetas</h5>
                        <p class="card-text">Conheça Miller, Vulcan e Gallifrey: os novos planetas de Missão Astro</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="posts" style="width: 17rem;">
                    <img class="card-img-top" src="~/css/img/purplemonster.jpg" alt="Imagem de capa do card">

                    <a href="#" class="card-link">
                        <h5 class="card-title">Monstros Neonlatic</h5>
                        <p class="card-text">Novos monstros ainda mais assustadores</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="posts" style="width: 17rem;">
                    <img class="card-img-top" src="~/css/img/mars.jpg" alt="Imagem de capa do card">
                    <a href="#" class="card-link">
                        <h5 class="card-title">Atualização do Patch 6.22</h5>
                        <p class="card-text">Novidades e correções. Vem dar uma olhada no que mudou!</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="posts" style="width: 17rem;">
                    <img class="card-img-top" src="~/css/img/flyingwhale.jpg" alt="Imagem de capa do card">
                    <a href="#" class="card-link">
                        <h5 class="card-title">Skins Darklatic</h5>
                        <p class="card-text">Agora você pode literalmente andar com o lado negro.</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="posts" style="width: 17rem;">
                    <img class="card-img-top" src="~/css/img/forum.jpg" alt="Imagem de capa do card">
                    <a href="#" class="card-link">
                        <h5 class="card-title">Novo Fórum Missão Astro</h5>
                        <p class="card-text">No novo fórum do Missão Astro, tire suas dúvidas, faça amizades e ajude outros jogadores :)</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    </section>
    <section id="aboutUs">
    <div class="container-aboutUS">
        <div class="glass-aboutUs">
            <div class="aboutUs">
                <div>
                    <h2 class="title-aboutUs ">Sobre Nós</h2>
                    <i class="fa-solid fa-comment-exclamation"></i>
                </div>
               
                <p>
                    A BibR, fundada em 2021, desenvolve jogos para diversos gostos e faixa etárias
                    <br> Nossa equipe é formada por apenas 4 membros:
                </p>
                <ul style="text-align: justify">
                    <li>
                        Ana Beatriz Guassu - Função
                        <a href="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="instagram"><i class="fa-brands fa-instagram"></i></a>
                    </li>

                    <li>
                        Bianca Balabenute - Função
                        <a href="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="instagram"><i class="fa-brands fa-instagram"></i></a>
                    </li>

                    <li>
                        Brenda J. Santos - Função
                        <a href="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="instagram"><i class="fa-brands fa-instagram"></i></a>
                    </li>

                    <li>
                        Ronie Bernardino - Função
                        <a href="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="instagram"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer>
    <div>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img id="logo" src="~/css/img/Logo.png" />
        </a>
    </div>
    <div class="copyright" style="text-align:center;">
         <div class="rodape-nav">
            <a href="#news" class="nav-link">
                Novidades&nbsp
            </a>
            <a class="nav-link">
                Sobre Nós&nbsp
            </a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FaleConosco">
                Fale Conosco&nbsp
            </a>
            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logar">
                Entrar&nbsp
            </a>
         </div>
         <div class="copyright">
            <p>&#169; 2022 Copyright - BibR</p>
        </div>
    </div>
</footer>
</div>

<div class="menu">
    <input type="checkbox" href="index.html" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <span class="hamburger hamburger-1">
        </span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
    </label>
    <a href="#tabSearch" class="menu-item" alt="Topo"> <i class="fa-solid fa-arrow-up"></i></a>
    <a asp-controller="Login" asp-action="Logar" class="menu-item"> <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="shadowed-goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7" result="goo" />
            <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
            <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 -0.2" result="shadow" />
            <feOffset in="shadow" dx="1" dy="1" result="shadow" />
            <feComposite in2="shadow" in="goo" result="goo" />
            <feComposite in2="goo" in="SourceGraphic" result="mix" />
        </filter>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7" result="goo" />
            <feComposite in2="goo" in="SourceGraphic" result="mix" />
        </filter>
    </defs>
</svg>
            <!--
            <div class="tabfoguete">
            <div class="lua">
		        <div class="foguete">
			        <img src="~/css/img/foguete.png">
		        </div>
	        </div>
        </div>-->