<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibR</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/BibR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css">
    <link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css">
    <link REL="SHORTCUT ICON" HREF="~/css/img/logojogo.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="logo" src="~/css/img/Logo.png" /><span class="nome_logo"> BibR</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="text-align: start;">
                    <div class="navbar-nav">
                        <a href="#news" class="nav-link">
                            Novidades
                        </a>
                        <a href="#aboutUs" class="nav-link">
                            Sobre Nós
                        </a>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FaleConosco">
                            Fale Conosco
                        </a>

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Baixe Aqui
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Windows</a></li>
                            <li><a class="dropdown-item" href="#">Linux</a></li>
                          </ul>
                        </li>
                    </div>
                    <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav flex-grow-1" style="justify-content:end;">
                            <li class="nav-item">
                                <a class="botao" asp-area="" asp-controller="Cadastro" asp-action="Create"><span class="btn-receive">Receba Novidades</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" >
            @RenderBody()
           
        </main>
    </div>
 <div class="footer">

  <div class="bubbles">
    <div class="bubble" style="--size:4.2012811320318635rem; --distance:8.966052944494185rem; --position:98.25589438411355%; --time:3.3684508527783312s; --delay:-3.732389810357821s;"></div>
    <div class="bubble" style="--size:5.913767592839709rem; --distance:8.149970379402207rem; --position:72.9993588026709%; --time:3.539229148165518s; --delay:-2.83930971839192s;"></div>
    <div class="bubble" style="--size:2.3810394816778597rem; --distance:8.143671025039485rem; --position:78.40779254407065%; --time:3.84170785598712s; --delay:-3.5984635103801956s;"></div>
    <div class="bubble" style="--size:3.2196704915868954rem; --distance:7.3582686567168rem; --position:68.16543898109225%; --time:2.1243257403944726s; --delay:-3.1259153389361276s;"></div>
    <div class="bubble" style="--size:4.45846176638697rem; --distance:9.131398091342685rem; --position:22.07098670651812%; --time:2.148797963174746s; --delay:-3.0565623447430466s;"></div>
    <div class="bubble" style="--size:2.033462327110713rem; --distance:6.563365282660007rem; --position:3.69017261469606%; --time:3.622334956773283s; --delay:-3.4494675119406484s;"></div>
    <div class="bubble" style="--size:4.242663848501136rem; --distance:6.581826245785697rem; --position:46.018517557702936%; --time:3.0145504049565357s; --delay:-2.3232602756752696s;"></div>
    <div class="bubble" style="--size:4.03721102115833rem; --distance:6.196955993040461rem; --position:37.4280859858063%; --time:2.8896565733284607s; --delay:-3.500120121397287s;"></div>
    <div class="bubble" style="--size:5.351800157456397rem; --distance:9.46122350360882rem; --position:-0.09410379124375545%; --time:3.907921585111959s; --delay:-3.2491837448656193s;"></div>
    <div class="bubble" style="--size:3.095470990632778rem; --distance:6.877953949919052rem; --position:18.310537453934522%; --time:2.30677322418984s; --delay:-2.9091847884538526s;"></div>
    <div class="bubble" style="--size:5.454870965744704rem; --distance:6.043999991699821rem; --position:97.791236762594%; --time:3.2643156761648324s; --delay:-3.492997394840362s;"></div>
    <div class="bubble" style="--size:3.8815762524327786rem; --distance:6.757778627900887rem; --position:70.53862328779815%; --time:2.720751468041759s; --delay:-2.0525648493460897s;"></div>
    <div class="bubble" style="--size:5.614148493317669rem; --distance:9.159411988744807rem; --position:20.989341415752456%; --time:3.871468806421112s; --delay:-3.739294779803228s;"></div>
    <div class="bubble" style="--size:5.78731223904816rem; --distance:8.44922850504707rem; --position:18.3568403995262%; --time:2.0602933589119665s; --delay:-3.942895599979018s;"></div>
    <div class="bubble" style="--size:3.2924154655914935rem; --distance:6.648285157017848rem; --position:52.38776317331067%; --time:3.48923589514758s; --delay:-2.0009530140631857s;"></div>
    <div class="bubble" style="--size:4.213439559861042rem; --distance:8.961200327058023rem; --position:87.73184056751897%; --time:2.8100450168277096s; --delay:-3.466742049779269s;"></div>
    <div class="bubble" style="--size:3.5223730755923075rem; --distance:9.263872165608461rem; --position:91.20188086647856%; --time:3.376990734836454s; --delay:-3.4624638152903904s;"></div>
    <div class="bubble" style="--size:3.816701649163739rem; --distance:9.446801222735951rem; --position:-4.106692864424706%; --time:3.332388032255222s; --delay:-3.6569155422407267s;"></div>
    <div class="bubble" style="--size:4.964856034831965rem; --distance:6.703128466075418rem; --position:67.5594406262314%; --time:3.2987521028856928s; --delay:-3.793718080474956s;"></div>
    <div class="bubble" style="--size:4.41767303853731rem; --distance:6.512519061438337rem; --position:91.4989029230476%; --time:2.524066570497483s; --delay:-3.8801892578287145s;"></div>
    <div class="bubble" style="--size:4.605466881775738rem; --distance:8.870283070307277rem; --position:56.288121773510454%; --time:2.888110705409172s; --delay:-3.5269151297336276s;"></div>
    <div class="bubble" style="--size:4.051056477420952rem; --distance:8.197888278630835rem; --position:88.23199658656324%; --time:3.220390029623697s; --delay:-2.5371408463014755s;"></div>
    <div class="bubble" style="--size:2.867261378952552rem; --distance:7.37664230792814rem; --position:73.61919920724948%; --time:3.0455258891405266s; --delay:-3.5676426846064704s;"></div>
    <div class="bubble" style="--size:5.479023255082169rem; --distance:9.19130890489573rem; --position:53.632682150839294%; --time:2.051595273255316s; --delay:-3.196992896357911s;"></div>
    <div class="bubble" style="--size:2.2791188032198946rem; --distance:7.738046601112004rem; --position:75.54652391657896%; --time:2.198026848086042s; --delay:-3.839192458683777s;"></div>
    <div class="bubble" style="--size:2.527178681567748rem; --distance:8.305846857412487rem; --position:15.17502157694651%; --time:2.613091218374575s; --delay:-2.877760044814589s;"></div>
    <div class="bubble" style="--size:3.8662856223580686rem; --distance:9.571253723727803rem; --position:51.04272217174533%; --time:2.0616961429179304s; --delay:-2.0499497688582426s;"></div>
    <div class="bubble" style="--size:4.602839304290748rem; --distance:8.525250437537071rem; --position:5.407112050363542%; --time:2.512666218196459s; --delay:-2.4599729508886097s;"></div>
    <div class="bubble" style="--size:5.500739863981314rem; --distance:8.117823297903556rem; --position:103.69562945254421%; --time:2.8243849454220844s; --delay:-3.5376654431525063s;"></div>
    <div class="bubble" style="--size:2.836744593180957rem; --distance:9.506520780193997rem; --position:24.577752636585945%; --time:2.1632158014514027s; --delay:-3.7994410306186976s;"></div>
    <div class="bubble" style="--size:2.558017166379636rem; --distance:6.261389176073055rem; --position:60.03680713366849%; --time:3.314538761637485s; --delay:-2.9898303166689315s;"></div>
    <div class="bubble" style="--size:5.999806957411747rem; --distance:6.468765555517775rem; --position:88.33061151488754%; --time:2.942466437431699s; --delay:-3.6361955264313965s;"></div>
    <div class="bubble" style="--size:3.519719020573599rem; --distance:6.172124257613292rem; --position:45.83680058070113%; --time:3.9694620383556147s; --delay:-2.915721177527044s;"></div>
    <div class="bubble" style="--size:4.225641264242781rem; --distance:8.117157213806777rem; --position:23.45696596097925%; --time:2.5914975544000036s; --delay:-3.6976851977003515s;"></div>
    <div class="bubble" style="--size:5.846776196342581rem; --distance:8.106386500783337rem; --position:80.47604897453945%; --time:2.1060138472381382s; --delay:-2.996775080373384s;"></div>
    <div class="bubble" style="--size:2.778646595448163rem; --distance:7.763023493042417rem; --position:81.05215418122965%; --time:3.061825334533174s; --delay:-2.271128517669613s;"></div>
    <div class="bubble" style="--size:2.2346895529828803rem; --distance:9.120425183358194rem; --position:79.51410832517655%; --time:3.112298620185348s; --delay:-2.744321843339555s;"></div>
    <div class="bubble" style="--size:5.643806085327351rem; --distance:6.456560930775539rem; --position:81.92083558536146%; --time:3.034786540091204s; --delay:-3.8298710920031547s;"></div>
    <div class="bubble" style="--size:2.154924585721637rem; --distance:8.097480486947934rem; --position:6.8440692083384835%; --time:3.0581231090833683s; --delay:-3.077845202819859s;"></div>
    <div class="bubble" style="--size:2.4825396843347773rem; --distance:7.6056027148533945rem; --position:62.594754526651144%; --time:3.6051762616102625s; --delay:-3.884393841996524s;"></div>
    <div class="bubble" style="--size:2.6348510177686846rem; --distance:8.333874845505738rem; --position:52.472358247019955%; --time:3.9948007909529415s; --delay:-3.9600127939659706s;"></div>
    <div class="bubble" style="--size:2.2615418825956244rem; --distance:8.908349663941255rem; --position:3.4958707862057654%; --time:2.984615050140754s; --delay:-3.670919589825492s;"></div>
    <div class="bubble" style="--size:5.765174081779311rem; --distance:9.505333314295939rem; --position:36.995599101526906%; --time:2.2504707890492845s; --delay:-3.2225174585183933s;"></div>
    <div class="bubble" style="--size:3.4861540261873962rem; --distance:8.81549285229446rem; --position:28.403635212387023%; --time:3.232952926647467s; --delay:-3.7469570785179305s;"></div>
    <div class="bubble" style="--size:5.460030375486411rem; --distance:8.851759292987964rem; --position:52.79270554473753%; --time:2.187160289876042s; --delay:-2.0672339434399642s;"></div>
    <div class="bubble" style="--size:5.316294095143557rem; --distance:9.443242074887529rem; --position:24.785157819829873%; --time:3.1932449356660872s; --delay:-2.592311999053825s;"></div>
    <div class="bubble" style="--size:3.002998626542923rem; --distance:9.20677412832482rem; --position:34.870651975628626%; --time:2.96953080399591s; --delay:-3.949424230803s;"></div>
    <div class="bubble" style="--size:2.8165110086473524rem; --distance:7.77960287804607rem; --position:104.9457740936978%; --time:3.4605415359035767s; --delay:-2.377060999566727s;"></div>
    <div class="bubble" style="--size:2.201851141376518rem; --distance:6.49371535180944rem; --position:104.63310975465254%; --time:2.1155459717488743s; --delay:-2.7491211127929724s;"></div>
    <div class="bubble" style="--size:5.275221587537686rem; --distance:6.064971704663101rem; --position:12.51432882686608%; --time:3.025688811798713s; --delay:-2.487542768870901s;"></div>
    <div class="bubble" style="--size:3.2282957801522523rem; --distance:8.33642144032994rem; --position:31.722697162523197%; --time:2.815663971554726s; --delay:-3.6540913420331975s;"></div>
    <div class="bubble" style="--size:4.513450196034153rem; --distance:8.610083022029297rem; --position:56.81478027088377%; --time:3.553260178027739s; --delay:-3.1505906230724534s;"></div>
    <div class="bubble" style="--size:2.855139917090166rem; --distance:7.716140166226923rem; --position:1.2777455964559747%; --time:2.4350314931006407s; --delay:-2.5018063718747836s;"></div>
    <div class="bubble" style="--size:4.686779432698308rem; --distance:7.746120222022783rem; --position:57.470650275853714%; --time:3.309581601070681s; --delay:-2.567544101184206s;"></div>
    <div class="bubble" style="--size:4.517745163581743rem; --distance:7.80803041568486rem; --position:33.273967498916974%; --time:3.293663158266987s; --delay:-2.6292363815537274s;"></div>
    <div class="bubble" style="--size:4.546522304228871rem; --distance:7.1753686541464266rem; --position:63.67259988001658%; --time:3.1593862181123495s; --delay:-3.463309929686587s;"></div>
    <div class="bubble" style="--size:3.9121781984162833rem; --distance:6.421987939954446rem; --position:8.851878414739838%; --time:3.3076809908939366s; --delay:-2.298200757670535s;"></div>
    <div class="bubble" style="--size:3.5643033484570052rem; --distance:7.238506819044504rem; --position:95.78147688969786%; --time:3.2487197463566586s; --delay:-3.377614681639428s;"></div>
    <div class="bubble" style="--size:3.5176660095077787rem; --distance:8.373286855577rem; --position:99.48592216231722%; --time:3.865289578246174s; --delay:-2.888219219029381s;"></div>
    <div class="bubble" style="--size:3.825389347297679rem; --distance:6.657467930475433rem; --position:8.99468234502031%; --time:2.1120667502764814s; --delay:-2.1847596703439915s;"></div>
    <div class="bubble" style="--size:2.7450848637487555rem; --distance:6.363914100941153rem; --position:-3.4426289131873444%; --time:3.8037428727421574s; --delay:-3.167499885013995s;"></div>
    <div class="bubble" style="--size:2.943602234026299rem; --distance:8.27555237839745rem; --position:97.11427780023891%; --time:2.8541698617127182s; --delay:-3.840388398039921s;"></div>
    <div class="bubble" style="--size:2.953352801089319rem; --distance:8.329996711666421rem; --position:90.48097977295107%; --time:2.811451000128664s; --delay:-3.56617365923115s;"></div>
    <div class="bubble" style="--size:5.413863878414579rem; --distance:7.674342857999187rem; --position:6.01871044524896%; --time:3.1998760505571395s; --delay:-2.0532149141610274s;"></div>
    <div class="bubble" style="--size:3.946715302390734rem; --distance:7.229642063494121rem; --position:14.779087871866125%; --time:2.727808771256943s; --delay:-2.8230812796184717s;"></div>
    <div class="bubble" style="--size:4.318038285075407rem; --distance:6.747314845826407rem; --position:73.44708033075143%; --time:2.407286090212074s; --delay:-3.251741203049794s;"></div>
    <div class="bubble" style="--size:4.015707532132554rem; --distance:6.545765407074862rem; --position:91.87803848021832%; --time:3.129688817084511s; --delay:-2.2002171057357334s;"></div>
    <div class="bubble" style="--size:5.524690346194354rem; --distance:9.915558343147897rem; --position:4.000542983079342%; --time:2.574858106666772s; --delay:-2.4884696936957935s;"></div>
    <div class="bubble" style="--size:5.128850339314836rem; --distance:6.240999687155952rem; --position:6.62609513854907%; --time:3.4357599351966033s; --delay:-2.645066021336636s;"></div>
    <div class="bubble" style="--size:2.429133888580565rem; --distance:6.071455146112965rem; --position:65.19724143673493%; --time:2.026589546976984s; --delay:-3.8422315828178557s;"></div>
    <div class="bubble" style="--size:2.736369504663748rem; --distance:7.588381114000871rem; --position:0.5770373666054258%; --time:3.8500226788419867s; --delay:-3.649624633667141s;"></div>
    <div class="bubble" style="--size:3.3306080899482273rem; --distance:7.414185934787784rem; --position:90.46671748553673%; --time:2.3393270222004947s; --delay:-2.4259476100825994s;"></div>
    <div class="bubble" style="--size:3.442155006619277rem; --distance:7.16807228333119rem; --position:29.908690548335954%; --time:3.666413022850246s; --delay:-2.7739202748030154s;"></div>
    <div class="bubble" style="--size:3.631195958987883rem; --distance:7.7181236271274845rem; --position:74.68189014903041%; --time:3.154642886771474s; --delay:-2.1429274612499536s;"></div>
    <div class="bubble" style="--size:2.3178837706241513rem; --distance:7.320767079627073rem; --position:91.25725974058267%; --time:3.573595641096963s; --delay:-3.8283373745258404s;"></div>
    <div class="bubble" style="--size:5.174643472303931rem; --distance:6.001488747452489rem; --position:27.614950579749497%; --time:2.538002743510826s; --delay:-3.0237718934106614s;"></div>
    <div class="bubble" style="--size:5.195666811095147rem; --distance:6.851918445978527rem; --position:0.26274035084398406%; --time:2.0466414087090956s; --delay:-2.3261351887845363s;"></div>
    <div class="bubble" style="--size:3.8881811302034164rem; --distance:6.178830238533028rem; --position:46.19426035142259%; --time:2.662638463560143s; --delay:-2.8214865427712983s;"></div>
    <div class="bubble" style="--size:4.468999214376861rem; --distance:6.627627311340741rem; --position:12.30943299114481%; --time:3.3522845929984424s; --delay:-3.285412343070371s;"></div>
    <div class="bubble" style="--size:5.550725897081922rem; --distance:9.827185487897028rem; --position:70.59119094890697%; --time:3.250158066971384s; --delay:-2.8932913520609365s;"></div>
    <div class="bubble" style="--size:5.141147664475569rem; --distance:9.24442694518904rem; --position:33.65542304175925%; --time:2.719899127694347s; --delay:-3.9493381942756707s;"></div>
    <div class="bubble" style="--size:2.8580057980693034rem; --distance:7.918168883140198rem; --position:0.16608805408255378%; --time:3.9147659575744105s; --delay:-2.812690869981169s;"></div>
    <div class="bubble" style="--size:5.927926731195057rem; --distance:8.682837115300233rem; --position:23.215080202876187%; --time:2.6319081140526666s; --delay:-3.2855922484525952s;"></div>
    <div class="bubble" style="--size:2.325045050368537rem; --distance:6.172712674932938rem; --position:62.892480582460124%; --time:2.039672270530274s; --delay:-2.6886081129446517s;"></div>
    <div class="bubble" style="--size:2.7332708609352148rem; --distance:7.415966593359778rem; --position:28.209714244823346%; --time:2.2071824197863035s; --delay:-2.7429714285128965s;"></div>
    <div class="bubble" style="--size:3.1592726999433802rem; --distance:8.351661450532546rem; --position:55.66628516586741%; --time:3.9798481229441562s; --delay:-2.014264450958387s;"></div>
    <div class="bubble" style="--size:4.945742726789431rem; --distance:9.921704425775157rem; --position:87.30520393412532%; --time:2.5195826130704875s; --delay:-3.39575055890537s;"></div>
    <div class="bubble" style="--size:3.721262749393917rem; --distance:7.258942865040472rem; --position:71.31783384222379%; --time:2.5328678239427784s; --delay:-2.99116481418519s;"></div>
    <div class="bubble" style="--size:4.297581512254975rem; --distance:6.1296834453906754rem; --position:-3.3992724728399293%; --time:3.5764099976035553s; --delay:-3.165909617449884s;"></div>
    <div class="bubble" style="--size:2.076732799544226rem; --distance:6.73220574676485rem; --position:86.09201876330522%; --time:3.6036153290250508s; --delay:-2.6417707444662586s;"></div>
    <div class="bubble" style="--size:3.840590514772779rem; --distance:7.958665063047199rem; --position:5.8112809213022825%; --time:3.902805946756324s; --delay:-2.66074102950124s;"></div>
    <div class="bubble" style="--size:4.174004160324261rem; --distance:6.304329299917448rem; --position:15.904106213466342%; --time:3.1525336954300696s; --delay:-2.452072287901056s;"></div>
    <div class="bubble" style="--size:4.607673668766819rem; --distance:6.076286606200019rem; --position:36.66902348788982%; --time:3.293642224330698s; --delay:-3.710376768847576s;"></div>
    <div class="bubble" style="--size:3.1667724658611958rem; --distance:7.510285826232902rem; --position:86.29035345693875%; --time:2.311930555095975s; --delay:-3.810397643723536s;"></div>
    <div class="bubble" style="--size:2.9530463156451923rem; --distance:9.167846713184314rem; --position:77.86699693945584%; --time:2.2762689974348844s; --delay:-3.6460485916746785s;"></div>
    <div class="bubble" style="--size:2.19057082733545rem; --distance:7.518205522864253rem; --position:30.774280642388057%; --time:2.451065312923535s; --delay:-3.166112184285181s;"></div>
    <div class="bubble" style="--size:5.208417597527257rem; --distance:9.13262060361308rem; --position:13.16482906065659%; --time:2.1329803348037832s; --delay:-2.374365587398901s;"></div>
    <div class="bubble" style="--size:4.618033694827645rem; --distance:6.580890024633002rem; --position:0.40779126938145716%; --time:3.474402328028016s; --delay:-3.824383819162374s;"></div>
    <div class="bubble" style="--size:3.594009017981402rem; --distance:8.39434914055224rem; --position:24.501200985307285%; --time:3.039102875236483s; --delay:-3.6738794072620506s;"></div>
    <div class="bubble" style="--size:3.03509667795024rem; --distance:8.622040368044516rem; --position:76.24209859281815%; --time:2.0618341241177185s; --delay:-3.2664809458835826s;"></div>
    <div class="bubble" style="--size:2.9458830831511564rem; --distance:9.678643923223621rem; --position:4.2434839640342545%; --time:2.812143945229155s; --delay:-2.2624820060390105s;"></div>
    <div class="bubble" style="--size:3.265936895101973rem; --distance:7.677577547272701rem; --position:53.530087074177935%; --time:3.5745978754943417s; --delay:-3.7386097006443446s;"></div>
    <div class="bubble" style="--size:4.3784616277413235rem; --distance:9.739510375820487rem; --position:23.747496963466702%; --time:3.7215951035897694s; --delay:-3.559837027206679s;"></div>
    <div class="bubble" style="--size:2.998625822576021rem; --distance:9.596052226406897rem; --position:76.15013759586405%; --time:3.076451498285593s; --delay:-3.164396911946831s;"></div>
    <div class="bubble" style="--size:2.0770640823560758rem; --distance:9.27670967638366rem; --position:93.59588273805805%; --time:3.729783514200554s; --delay:-3.187874227822118s;"></div>
    <div class="bubble" style="--size:3.2865739300818904rem; --distance:9.390642202192465rem; --position:28.79445732274185%; --time:3.625304288870735s; --delay:-3.4274294749836s;"></div>
    <div class="bubble" style="--size:3.428553696391811rem; --distance:8.668475760287674rem; --position:39.74899482254311%; --time:2.0319218104507306s; --delay:-3.7633677846920324s;"></div>
    <div class="bubble" style="--size:5.724774859400395rem; --distance:7.051286840090604rem; --position:29.706693781905734%; --time:2.5737312687482756s; --delay:-3.229586724972457s;"></div>
    <div class="bubble" style="--size:4.4712616395723614rem; --distance:7.138366839973927rem; --position:65.52515498875911%; --time:2.0971221631210124s; --delay:-3.818877518756544s;"></div>
    <div class="bubble" style="--size:3.098783796511679rem; --distance:6.046950186631414rem; --position:53.92307255838849%; --time:3.105244166539961s; --delay:-3.748882974972846s;"></div>
    <div class="bubble" style="--size:3.8772073584242017rem; --distance:6.515263332090826rem; --position:72.1441556361431%; --time:2.3074628600506646s; --delay:-2.6653968710164597s;"></div>
    <div class="bubble" style="--size:3.9854808103077586rem; --distance:8.049480276321383rem; --position:15.973633297876969%; --time:2.5729637096650997s; --delay:-3.0615091307802413s;"></div>
    <div class="bubble" style="--size:3.2535765742915803rem; --distance:8.809118457472717rem; --position:76.92408086215825%; --time:2.7940412543370345s; --delay:-3.6210854243984705s;"></div>
    <div class="bubble" style="--size:4.771521619960128rem; --distance:8.213455654144834rem; --position:76.9662542199032%; --time:3.1809345821512265s; --delay:-2.79368431539379s;"></div>
    <div class="bubble" style="--size:3.320717644364488rem; --distance:7.621093911713896rem; --position:38.23657485810772%; --time:3.5318734117753965s; --delay:-2.0862392592327694s;"></div>
    <div class="bubble" style="--size:5.879177673440473rem; --distance:6.806723477178455rem; --position:5.041694629413307%; --time:3.094318906257097s; --delay:-2.9654676624056813s;"></div>
    <div class="bubble" style="--size:5.392467585571412rem; --distance:7.8655862024739704rem; --position:55.110330124535274%; --time:3.555312927424551s; --delay:-3.129708495379273s;"></div>
    <div class="bubble" style="--size:3.4520750257711432rem; --distance:7.4506070923697685rem; --position:71.18208959682987%; --time:3.20304714550861s; --delay:-2.166629133639099s;"></div>
    <div class="bubble" style="--size:5.753317588237798rem; --distance:7.679539945206871rem; --position:15.811239902907158%; --time:2.244581286203317s; --delay:-2.0920491562313543s;"></div>
    <div class="bubble" style="--size:4.5534814445564935rem; --distance:8.980997127339078rem; --position:85.2052614427627%; --time:3.6356069431555142s; --delay:-3.2705444414897014s;"></div>
    <div class="bubble" style="--size:3.114420512052263rem; --distance:6.7436818078536rem; --position:57.10442503377991%; --time:3.4648807091352545s; --delay:-3.52472040815163s;"></div>
    <div class="bubble" style="--size:4.4876455806558635rem; --distance:6.234016096027874rem; --position:5.840961795914021%; --time:3.8132312296337667s; --delay:-2.5909225293946347s;"></div>
    <div class="bubble" style="--size:4.443173050706242rem; --distance:9.428995155812366rem; --position:34.166565186504535%; --time:2.8306629452908365s; --delay:-3.1931387575361625s;"></div>
    <div class="bubble" style="--size:2.638949800392549rem; --distance:7.056756950900056rem; --position:44.721983756897%; --time:3.74339412077464s; --delay:-2.2342938645087562s;"></div>
    <div class="bubble" style="--size:5.907828913560525rem; --distance:6.765925330808882rem; --position:92.03705887621243%; --time:2.245924666211468s; --delay:-3.4483011437662023s;"></div>
    <div class="bubble" style="--size:2.6372936048038342rem; --distance:8.345939173443732rem; --position:-4.893512487512098%; --time:2.202830925506438s; --delay:-3.4099094101649405s;"></div>
    <div class="bubble" style="--size:2.3808606674567656rem; --distance:7.121741257354242rem; --position:29.766883439910792%; --time:2.5678096707491553s; --delay:-2.8682647863452995s;"></div>
    <div class="bubble" style="--size:5.015379383151249rem; --distance:9.470290872747572rem; --position:61.31487930149527%; --time:2.896166375815419s; --delay:-2.653423722148325s;"></div>
  </div>
  <div class="content">
    <div class="div1">
        <div class="menus-footer">
            <a href="#news" class="nav-link">
                <i class="fa-solid fa-newspaper"></i>
                Novidades
            </a>
            <a href="#aboutUs" class="nav-link">
                <i class="fa-solid fa-users"></i>
                Sobre Nós
             </a>
             <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FaleConosco">
               <i class="fa-solid fa-headset"></i>
                 Fale Conosco
             </a>
        </div>
        <div class="redes-sociais">
              <i class="fa-brands fa-github-alt"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-solid fa-copyright"></i>
              <i class="fa-brands fa-twitch"></i>
              <i class="fa-solid fa-envelope"></i>
            </div>
      <p>©2022 - BibR Company</p>
    </div>
    
  </div>
</div>
<svg style="position:fixed; top:100vh">
  <defs>
    <filter id="blob">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
      <!--feComposite(in="SourceGraphic" in2="blob" operator="atop") //After reviewing this after years I can't remember why I added this but it isn't necessary for the blob effect-->
    </filter>
  </defs>
</svg>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>