<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BibR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css">
    <link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BibR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align" style="text-align: start;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="#news" asp-controller="Home" asp-action="Index">Novidades</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="navbarDropdownMenuLink" asp-area="" asp-controller="Login" asp-action="Logar">Outros Jogos</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Jogo1</a>
                                <a class="dropdown-item" href="#">Jogo2</a>
                                <a class="dropdown-item" href="#">Jogo2</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="#aboutUs" asp-controller="Home" asp-action="Index">Sobre Nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FaleConosco">Fale Conosco</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1" style="justify-content:end;">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logar">Entrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer flex-wrap justify content-between align-items-center">
        <p class="text-muted text-center">&copy; 2022 BibR, Inc</p>
        <ul class="nav col-12 justify-content-end">
            <li>
                <a class="text-muted" href="#instagram">
                    <i class="fa-brands fa-instagram"></i> Instagram
                </a>
            </li>
            <li>
                <a class="text-muted" href="#facebook">
                    <i class="fa-brands fa-facebook"></i> Facebook
                </a>
            </li>

            <li>
                <a class="text-muted" href="mailto:bibrcontact@gmail.com.br">
                    <i class="fa-solid fa-at"></i> E-mail
                </a>
            </li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>